html{
    height: 100%;
}
body{
    background-color: #E5E5E5;
    display: flex;    
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
}

#calc{
    display: flex;
    flex-direction: column;
    margin: auto;
    box-shadow: 0.6cqw 0.7cqw 1cqw #3D3D3D66, inset 0 0 0.2cqw #FFFFFF4D;
    background-color: #EAEFF2;
    border-radius: 1cqw;
    position: relative;

    container-type: inline-size;
    overflow: hidden;
}
