 @media (aspect-ratio > 1){
    #calc{
        height: 90vh;
        aspect-ratio: 410/724;

    }
}
 @media (aspect-ratio < 210/360){
    #calc{
        width: 90vw;
        aspect-ratio: 410/724;

    }
}
@media (210/360 < aspect-ratio <= 1){
    #calc{
        height: 90vh;
        aspect-ratio: 410/724;

    }
}
